.login {
  display: flex;
  padding: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}

.login-form label {
  display: block;
  margin: 30px 0 5px;
  font-family: 'Domine', serif;
  color: #1c768f;
}

.login-form input {
  all: unset;
  padding: 3px;
  border: 1px solid #1c768f;
  border-radius: 3px;
}

.login-form button {
  all: unset;
  display: block;
  margin: 30px auto;
  padding: 8px 8px;
  cursor: pointer;
  color: white;
  background-color: #1c768f;
  border-radius: 3px;
}
