.img-picker-container {
  margin: 15px;
  position: relative;
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.img-use-button {
  all: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  color: white;
  background-color: rgb(0, 0, 0, 0.4);
  border: 1px solid #1c768f;
  border-radius: 3px;
}

.img-use-button:hover {
  background-color: rgb(255, 255, 255, 0.8);
  color: #1c768f;
}
