#root {
  position: relative;
  min-height: 100vh;
}

footer {
  display: flex;
  margin-top: 1000px;
  padding: 10px 0px;
  justify-content: space-around;
  background-color: #032539;
  font-size: 0.9em;
  text-align: center;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
footer > div > h4 {
  font-family: 'Domine', serif;
  color: white;
}
p {
  margin-top: 5px;
  color: white;
}

.content-wrap {
  padding-bottom: 1px; /* Footer height */
}
